
<#include "/default/common/layout.html">
<@layout>
	<h2>create ${form.modelLabel}</h2>
	<form  method="post" action="/${form.modelName}/doAdd">
		<#list form.formFields as field>
			<#if field.name=='id'>
			<#elseif field.type=='textarea'>
				<div class="form-group">
					<label for="${field.id}">${field.label}：</label>
					<textarea class="form-control" rows="3" cols="" placeholder="please input ${field.name} ">${field.value}</textarea>
				</div>
			<#elseif field.type=='date' >
				<div class="form-group">
					<label for="${field.id}">${field.label}：</label>
					<input class="form-control" id="${field.id}" type="text" name="${field.name}" value="" placeholder="please input ${field.name} " />
				</div>
			<#else>
				<div class="form-group">
					<label for="${field.id}">${field.label}：</label>
					<input class="form-control" id="${field.id}" type="${field.type}" name="${field.name}" value="${field.value}" placeholder="please input ${field.name} " />
				</div>
			</#if>
		</#list>
		<button type="submit" class="btn btn-success">Submit</button>
		<button type="reset" class="btn btn-default">Reset</button>
	</form>
</@layout>