<#include "/default/common/layout.html">
<@layout>
	<h3>${form.modelLabel}-manager</h3>
	<p><a class="btn btn-primary"  href="/${form.modelName}/add">Create</a></p>
	<table class="table">
		<tr>
			<#list form.formFields as field>
				<th width="100">${field.label}</th>
			</#list>
			<th>操作</th>
		</tr>
		<#list list as m>
			<tr>
				<#list form.formFields as field>
					<#if field.type=='date'>
						<td>${m['${field.name}']?string('yyyy-mm-dd')}</td>
					<#else>
						<td>${m['${field.name}']}</td>
					</#if>
				</#list>
				<td width="300">
					<a class="btn btn-sm btn-success" href="/${form.modelName}/update/${m.id}">Update</a>
					<a class="btn btn-sm btn-danger" href="/${form.modelName}/del/${m.id}">Delete</a>
				</td>
			</tr>
		</#list>
	</table>
</@layout>